/* 
Theme Name:		 Tema Ecommerce Memorable
Theme URI:		 https://ecommercememorable.com/
Description:	 Tema Ecommerce Memorable is a child theme of Storefront, created by Antonio Cantero
Author:			 Antonio Cantero
Author URI:		 https://ecommercememorable.com/
Template:		 storefront
Version:		 1.0.0
Text Domain:	 mi-tienda-online
*/


/*
    Add your custom styles here
*/

/* Home page template */
.page-template-template-homepage .site-content .col-full{
	max-width: 100%;
	padding: 0px;
}

.page-template-template-homepage .site-content .content-area,
.page-template-template-homepage .site-content .site-main,
.page-template-template-homepage .site-content .site-main .page.type-page{
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.page-template-template-homepage .site-content .site-main .entry-content{
	max-width: 100%;
}

.page-template-template-blank .site-content .content-area{
	width: 100%;
}

.page-template-template-blank .site-content{
	padding-top: 50px;
}

.page-template-template-blank .site-header .col-full{
	padding-bottom: 20px;
}

@media (max-width: 568px){
	.page-template-template-homepage .site-content .col-full{
		margin-right: 0px;
		margin-left: 0px;
	}	
}

@media (max-width: 66.4989378333em){
	.page-template-template-homepage .site-content .col-full{
		margin-right: 0px;
		margin-left: 0px;
	}	
}

/* Compatibilidad de estilos con Divi builder */
.et_divi_builder #et_builder_outer_content .woocommerce-checkout .select2-container,
.et_divi_builder #et_builder_outer_content .woocommerce-checkout #order_comments{
	border: 1px solid #bbbbbb;
    	padding-left: 10px;
    	padding-top: 5px;
    	padding-bottom: 5px;
}

.et_divi_builder #et_builder_outer_content .woocommerce-checkout .woocommerce-billing-fields,
.et_divi_builder #et_builder_outer_content .woocommerce-checkout .woocommerce-shipping-fields{
	margin-top: 25px;
}

.et_divi_builder #et_builder_outer_content .woocommerce-info{
	padding: 1em 1.618em;
    	margin-bottom: 2.617924em;
    	background-color: #3d9cd2;
    	margin-left: 0;
    	border-radius: 2px;
    	color: #fff;
    	clear: both;
    	border-left: .6180469716em solid rgba(0,0,0,.15);
}

.et_divi_builder #et_builder_outer_content .woocommerce-info a{
	color: #fff;
	font-weight: bold;
}